* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 1280px;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}

/* //////////// Header ////////// */
header {
    width: 1280px;
    height: 103px;
    background: linear-gradient(180deg, #00D1D5 0%, rgba(0, 209, 213, 0.12) 87.91%, rgba(1, 208, 213, 0.00) 100%);
    position: fixed;
    z-index: 10;
}

#header-box {
    width: 1080px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

#logo {
    width: 560px;
    height: 320px;
    position: absolute;
    top: 55.33px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: width 0.1s ease-in-out, height 0.1s ease-in-out, transform 0.1s ease-in-out;
}

#comprar {
    width: 200px;
    height: 60px;
    border-radius: 111px;
    right: -8px;
    top: -8px;
    position: relative;
    border: 8px solid #FFF;
    background: #83C252;
    box-shadow: 4px 5px 0px 0px #02187E;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 18.9px;
    letter-spacing: 2.2px;
    cursor: pointer;
    outline: none; 
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

#comprar:hover {
    transform: scale(1.1) rotate(5deg);
    background-color: #4CAF50;
    box-shadow: 6px 6px 0px 0px #02187E; 
}

#comprar:active {
    box-shadow: 2px 3px 0px 0px #02187E;
    transform: translateY(2px);
    background-color: #159119;
}


/* ///////////////////////////// */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*                            SECTION 4 HERO */

#section4 {
    width: 1280px;
    height: 959px;
    background-image: url(assets/ff.svg);
    overflow: hidden;
    position: relative;
}

#arbol-1 {
    position: absolute;
    left: -153px;
    top: -1px;
    z-index: 1;
}

#arbol-2 {
    position: absolute;
    left: 881.03px;
    top: 106.71px;
    z-index: 6;
}

#arbol-3 {
    position: absolute;
    left: 1080.97px;
    top: 278.38px;
    z-index: 1;
}

#hero-1 {
    position: absolute;
    left: 411.18px;
    top: 500.33px;
    z-index: 3;
}

#hero-2 {
    position: absolute;
    left: 536px;
    top: 403px;
    z-index: 2;
}

#hero-3 {
    position: absolute;
    left: 694px;
    top: 338px;
    z-index: 1;
}

#sombra1 {
    position: absolute;
    left: 467px;
    top: 736px;
    z-index: 2;
}

#sombra2 {
    position: absolute;
    left: 581px;
    top: 700px;
    z-index: 6;
}

#sombra3 {
    position: absolute;
    left: 697px;
    top: 671px;
    z-index: 2;
}

.vectorAbs {
    position: absolute;
}

#v1 {
    right: 59.24px;
    top: 630.79px;
    z-index: 0;
}

#v2 {
    left: 161.57px;
    top: 718.97px;
    z-index: 0;
}

#v3 {
    left: 129.25px;
    top: 793.7px;
    z-index: 2;
}

#v4 {
    left: 197.25px;
    top: 821.97px;
    z-index: 3;
}

#v5 {
    left: 1081.15px;
    top: 662.43px;
    z-index: 3;
}

#v6 {
    left: 1035.38px;
    top: 737.82px;
    z-index: 7;
}

#v7 {
    left: 1072.22px;
    top: 737.82px;
    z-index: 7;
}

#v8 {
    left: 1042.78px;
    top: 786.97px;
    z-index: 7;
}

/*                          SECTION 8 */

.section8 {
    position: relative;
    overflow: hidden;
    width: 1280px;
    height: 1157px;
}

.section8 img {
    position: relative;
    top: 390px;
    z-index: 2;
}

.section8 svg {
    position: absolute;
}

#section8 {
    width: 1080px;
    position: relative;
    z-index: 2;
    margin: 0 0 0 100px;

}

#section8 h1 {
    position: absolute;
    width: 950px;
    height: 153px;
    top: 170px;
    color: #FFF;
    text-align: center;
    font-size: 61.14px;
    font-weight: 600;
    line-height: 110%;
    margin-left: 65px;
}

#section8 h1 #span-section8 {
    color: #FFF;
    font-size: 61.14px;
    font-style: italic;
    font-weight: 700;
    line-height: 110%;
}

#section8 div {
    position: absolute;
    top: 380px;
    width: 540px;
    height: 66px;
    border-radius: 111px;
    border: 8px solid #FFF;
    background: #83C252;
    box-shadow: 4px 5px 0px 0px #02187E;
    margin-left: 265px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section8 div p {
    color: #FFF;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #FFF;
    font-size: 31.14px;
    font-weight: 400;
    line-height: 110%;
}

#parallaxS8 {
    position: absolute;
    top: 780px;
    left: 650px;
    z-index: 1;
    transform: translate(-50%, -50%) scale(1.1);
    transition: transform 0.1s ease-out;
}

/*                       SECTION 10 */

#section10 {
    width: 1280px;
    height: 1444px;
}

.svg10 {
    position: absolute;
    z-index: 1;
}

.s10-content-container {
    position: relative;
    z-index: 2;
    margin: 308.8px 0 0 100px;
    height: 1000px;
    overflow: hidden;

}

.s10-content-container h1 {
    color: #FFF;
    font-size: 60px;
    font-weight: 600;
    line-height: 94.5%;
    width: 802px;
    margin-bottom: 46px;
}

.s10reproductor {
    position: relative;
    width: 746px;
    height: 394px;
    border-radius: 45px;
    border: 29px solid #FFF;
    opacity: 0;
}

.s10reproductor.active {
    animation: slideInLeft 1.5s ease-out forwards;
    opacity: 1;
}

.s10reproductor iframe {
    position: absolute;
    top: 197px;
    left: 373px;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: 2; 
    border-radius: 16px;
}

.s10-content-container #p3s10 {
    position: relative;
    left: 624px;
    top: -620px;
    z-index: 2;
    pointer-events: none;
    opacity: 0; 
}

.s10-content-container #p3s10.active {
    animation: slideInRight 1.5s ease-out forwards;
    opacity: 1; 
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


 .s10-content-container #p3s10.active.moving {
    transform: translateY(0); 
    animation: moveCharacter 8s linear infinite;
}

@keyframes moveCharacter {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); 
    }
    100% {
        transform: translateY(0); 
    }
} 

.video-thumbnail {
    position: absolute;
    top: -30px;
    left: -30px;
    object-fit: cover;
    cursor: pointer; 
    z-index: 2; 
    transition: opacity 0.3s ease; 
}

.video-thumbnail.hidden {
    opacity: 0; 
    pointer-events: none; 
}

/*                          SECTION 11 */

#section11 {
    width: 1280px;
    height: 1034px;
    overflow: hidden;

}

#section11 h1 {
    width: 746px;
    height: 285px;
    color: #9D2121;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%;
    margin: 220px 0 0 100px;  
}

#section11 p {
    margin-top: 43px;
    width: 464px;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 94.5%;
    margin: 43px 0 0 100px;  
}

#section11 img {
    position: relative;
    top: -730px;
    left: 500px;
}


#model-viewer {
    position: relative;
    left: 560px;
    top: -700px;
    width: 737px;
    height: 873px;
}

/*                       SECTION 12 */

#section12 {
    width: 1280px;
    margin-bottom: 25px;
    position: relative;
}

.bg-12 {
    position: absolute;
    z-index: 1;
}


[class^="s12p"] {
    position: relative;
    z-index: 2;
    filter: drop-shadow(0 0 2px white);
    transition: transform 0.3s ease, filter 0.2s ease;

}


[class^="s12p"]:hover {
    transform: scale(1.04);
    filter: drop-shadow(0 0 15px white);
}


.s12p1 { left: 10px; top: 3px; }
.s12p2 { left: 48px; top: 3px; }
.s12p3 { left: 80px; top: 1px; }
.s12p4 { left: 110px; top: 1px; }
.s12p5 { left: 140px; top: 3px; }
.s12p6 { left: 3px; top: 30px; }
.s12p7 { left: 30px; top: 30px; }
.s12p8 { left: 56px; top: 30px; }
.s12p9 { left: 83px; top: 30px; }
.s12p10 { left: 112px; top: 29px; } 


/*                          SECTION 13 */

#section13 {
    width: 1280px;
    height: 1570px;
    overflow: hidden;
}

#section13 #img-nube-grande-s13,
#section13 #img-nube-grande2-s13,
#section13 #img-nube-chica-s13 {
    position: relative;
    z-index: 1;
}

#section13 #img-nube-grande-s13 {
    top: 180px;
    left: -300px;
    animation: moveNubeGrande 15s linear infinite;
}

#section13 #img-nube-grande2-s13 {
    top: -80px;
    left: 80px;
    animation: moveNubeGrande2 15s linear infinite; 
}

#section13 #img-nube-chica-s13 {
    top: -180px;
    left: 180px;
    animation: moveNubeChica 15s linear infinite -5s ; 
}

@keyframes moveNubeGrande {
    0% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(120vw);
    }
}

@keyframes moveNubeGrande2 {
    0% {
        transform: translateX(-400%);
    }
    100% {
        transform: translateX(60vw);
    }
}

@keyframes moveNubeChica {
    0% {
        transform: translateX(-400%);
    }
    100% {
        transform: translateX(40vw);
    }
}

#section13 #img-cielo-s13 {
    z-index: 1;
    position: absolute;
    margin-top: 274px;
}

#section13 #img-pasto-s13 {
    position: relative;
    top: 1180px;
    width: 1280px;
    height: 389px;
    z-index: 2;

}

#section13 #img-esrb-s13 {
    position: relative;
    width: 231px;
    height: 145px;
    flex-shrink: 0;
    z-index: 2;
    top: -33px;
    left: 100px;
}

.section13 {
    width: 1080px;
    margin-left: 100px;
    position: relative;
    z-index: 2;
}

.section13 h1 {
    margin-top: -201px;
    margin-bottom: 36px;
    width: 816px;
    color: #000;
    font-size: 60px;
    font-weight: 600;
    line-height: 94.5%;
}

.section13 p {
    margin-top: 46px;
    width: 578px;
    height: 95px;
    flex-shrink: 0;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 94.5%;
}

.section13 p span {
    color: #000;
    line-height: 94.5%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.section13 form input {
    width: 553px;
    height: 82px;
    flex-shrink: 0;
    border-radius: 50px 0px 0px 50px;
    border-top: 9px solid #FFF;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid #FFF;
    background: #ECECEC;
    margin-right: 0;
    padding-left: 52px;
    font-size: 20px;
    font-weight: 400;
    line-height: 94.5%; 
    letter-spacing: 2.2px;
}

.section13 form input::placeholder {
    color: rgba(0, 0, 0, 0.39);
}

.section13 form {
    display: flex;
    width: fit-content;
    filter: drop-shadow(4px 5px 0px #02187E);
    border-radius: 0px 50px 50px 50px;
}

.section13 form div {
    color: #FFF;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%;
    letter-spacing: 2.2px;
    width: 200px;
    margin-left: 0;
    height: 82px;
    border-radius: 0px 50px 50px 0px;
    border: 9px solid #FFF;
    background: #83C252;
    display: flex;
    justify-content: center;
    align-items: center;
}

.giphy-embed {
    position: relative;
    z-index: 2;
}

.gifP2 {
    top: 200px;
    left: 20px
}

.gifP3 {
    top: 200px;
    right: 100px
}

.gifP7 {
    top: -720px;
    left: 750px
}

/*                                          FOOTER */

footer {
    position: relative;
    margin-top: auto;
    background-color: #5E5E5D;
    width: 1280px;
    height: 595px;
}

.consolas-container {
    background-color: #242424;
    display: flex;
    justify-content: center;
}

.footer-content {
    height: 486px;
    margin: 35px 0 0 100px;
}

.footer-content p {
    width: 820px;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 94.5%;
    letter-spacing: 2.2px;
    margin-bottom: 20px;
}

.footer-content .cookies a {
    color: #FFF;
    font-size: 20px;
    letter-spacing: 2.2px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
}

.redesSociales {
    margin: 35px 0 28px 0;
}