/*MOBILE*/
.header-icon-container {
  display: none;
  width: 100%;
  height: fit-content;
}

/* BOTON DE CARD */
.card-button {
  margin-right: 0px;
  margin-bottom: 3px;
  padding: 3px 5px 0 5px;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  transition: all .5s ease;
  display: block;
  width: min-content;
  height: 20px;
  border-radius: 1.5rem;
  color: #000;
}

.btn--action {
  background-color: #FF00B2;
  transition: all .5s ease 0s;
  box-shadow: 0 5px #c20188;
}

.btn--action-comprar {
  background-color: #00FFED;
  transition: all .5s ease 0s;
  box-shadow: 0 5px #01a89d;
}

.btn--action,
.btn--action-comprar a {
  height: 20px;
}

.btn--action span,
.btn--action-comprar span {
  height: 20px;
  font-weight: 600;
  color: #000;
  display: inline-block;
  position: relative;
  transition: all .5s ease;
}

.btn--action span:before {
  display: inline-block;
  position: absolute;
  transition: all .1s ease 0s;
}

.btn--action-comprar span:before {
  display: inline-block;
  position: absolute;
  transition: all .1s ease 0s;
}


/* .btn--action:hover span, .btn--action-comprar:hover span {
  padding-left: 1.5rem;
}
  */

.btn--action:hover span:before,
.btn--action-comprar:hover span:before {
  left: 0;
  opacity: 1;
}

.btn--action:active {
  box-shadow: 0 3px #880160;
  transform: translateY(3px);
}

.btn--action-comprar:active {
  box-shadow: 0 3px #007a72;
  transform: translateY(3px);
}


@media only screen and (min-width: 900px) {

  /* BOTON COMPARTIR */
  .share-container a img {

    width: 20px;
    opacity: 0;
    font-size: 28px;
    color: #1F1E1E;
    will-change: transform;
    transform: scale(.1);
    transition: all .3s ease;
  }

  .share-btn-wrap {
    border: aqua solid 1px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    width: 120px;
    height: 52px;
    background-color: #1C1F3E;
    border-radius: 80px;
    padding: 0 18px;
    will-change: transform;
    transition: all .2s ease-in-out;
  }


  .share-btn-wrap span {
    position: absolute;
    z-index: 99;
    width: 120px;
    height: 72px;
    border-radius: 80px;
    font-size: 20px;
    text-align: center;
    line-height: 70px;
    letter-spacing: 2px;
    color: #EEEEED;
    background-color: aqua;
    color: black;
    padding: 0 18px;
    transition: all 1.2s ease;
  }

  .share-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 240px;
    height: 64px;
    border-radius: 80px;
  }

  .share-container a img {
    transition: 1.1s;
  }

  .share-btn-wrap:hover span {
    transition-delay: .25s;
    transform: translateX(-280px)
  }

  .share-btn-wrap:hover img {
    opacity: 1;
    transform: scale(1);
  }

  /* BOTONES HEADER */

  .header-icon-container {
    display: block;
    width: 100%;
    height: fit-content;
  }

  .header-icon-container button {
    border: none;
  }

  .header-icon {
    margin-left: 20px;
    padding: 8px;
    cursor: pointer;
    position: relative;
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    box-shadow: 0px 0px 5px 1px #EB00FF;
  }

  .header-icon::before,
  .header-icon::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 80px;
  }

  .header-icon img {
    width: 40px;
    height: 40px;
    position: relative;
  }

  .header-icon-expand::after {
    box-shadow: inset 0 0 0 1px #EB00FF;
  }

  .header-icon-expand::before {
    transition-duration: 0.5s;
    background-color: rgba(234, 0, 255, 0.801);
    box-shadow: inset 0 0 0 60px #1C1F3E;
  }

  .header-icon-expand:hover::before {
    transition-duration: 0.5s;
    box-shadow: inset 0 0 0 1px #1C1F3E;
    ;
  }

  /* BOTON DE SUBMIT */

.submitBtn {
  width: 270px;
  height: 40px;
  border: none;
  outline: none;
  background: #FF00B2;
  font-size: 22px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 5%
}


  .submitBtn:hover {
    transform: scale(0.9);
    box-shadow: 0 0 8px 0 #FF00B2;
    transition: 0.3s;
  }

  .check-box {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    opacity: 0;
  }

  .check-box img {
    width: 30px;
    margin: 5px 5px 5px 5px
  }

  .active {
    background: #F47FFE;
    transition: 1s;
  }

  .active p {
    color: #000;
  }

  .active .check-box {
    right: 0;
    opacity: 1;
    transition: 1s;
  }

  .active p {
    margin: 1% 1% 1% 0;
    transition: 1s;
  }

  .active:hover {
    transform: scale(1);
    box-shadow: none;
  }

  /* BOTONES CARDS */

  .card-button {
    margin-right: 5px;
    margin-bottom: 3px;
    padding: 5px 8px 5px 8px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    transition: all .5s ease;
    display: block;
    width: fit-content;
    height: 20px;
    border-radius: 1.5rem;
    color: #000;
  }

  .btn--action {
    background-color: #FF00B2;
    transition: all .5s ease 0s;
    box-shadow: 0 7px #c20188;
  }

  .btn--action-comprar {
    background-color: #00FFED;
    transition: all .5s ease 0s;
    box-shadow: 0 7px #01a89d;
  }

  .btn--action,
  .btn--action-comprar a {
    height: 20px;
  }

  .btn--action span,
  .btn--action-comprar span {
    height: 20px;
    font-weight: 600;
    color: #000;
    display: inline-block;
    position: relative;
    transition: all .5s ease;
  }

  .btn--action span:before {
    content: '';
    background-image: url('../src/misc/joystick.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    left: 10px;
    opacity: 0;
    transition: all .1s ease 0s;
  }

  .btn--action-comprar span:before {
    content: '';
    background-image: url('../src/misc/agregarCart.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    left: 10px;
    opacity: 0;
    transition: all .1s ease 0s;
  }


  .btn--action:hover span,
  .btn--action-comprar:hover span {
    padding-left: 1.5rem;
  }

  .btn--action:hover span:before,
  .btn--action-comprar:hover span:before {
    left: 0;
    opacity: 1;
  }

  .btn--action:active {
    box-shadow: 0 5px #880160;
    transform: translateY(3px);
  }

  .btn--action-comprar:active {
    box-shadow: 0 5px #007a72;
    transform: translateY(3px);
  }

  /*btn-type-1*/

  .btn-type-1 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #FF00B2;
    color: white;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease;
    padding-right: 10px;
    border-radius: 30px;
    width: 70px;
    padding: 8px 16px;
  }

  .btn-type-1:hover {
    background-color: #EB00FF;
  }

  .icon-type-1 {
    position: static;
    right: 20px;
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .btn-type-1:hover .icon-type-1 {
    transform: translateX(20px);
    opacity: 0;
  }

  /*btn-type-2*/

  .btn-type-fill {
    margin-top: 10px;
    width: 70px;
    height: 29px;
    color: #FFF;
    border: 1px solid #02bdb0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #00c9bb;
    transition: ease-in-out 0.5s;
    border-radius: 80px;
  }

  .btn-type-fill-left:hover {
    box-shadow: inset 0 0 0 50px #00FFED;
    color: #000;
  }

  .btn-type-color-fill {
    margin: 10px;
    width: 70px;
    height: 29px;
    color: #000;
    border: 1px solid #02bdb0;
    background-color: #00FFED;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #1C1F3E;
    transition: ease-in-out 0.5s;
    border-radius: 80px;
  }

  .btn-type-color-fill-left:hover {
    box-shadow: inset 0 0 0 50px #1C1F3E;
    color: #FFF;
  }
}

