main {	
    background: no-repeat top url(../src/carousel/Carrusel.svg);
}

.carousel-container {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 320px;
    max-width: 1500px;
    margin: 0 auto;
}

.carousel-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;   
}

.carousel {
    height: 100%;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    flex: 0 0 33.33%; 
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    transition: transform 0.5s ease-in-out;
    transform: scale(0.8);
    
}

.carousel-item a {
    pointer-events: none;
}

.carousel-item .game-img {
    width: 400px;
    height: 225px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 5px 1px gold;
}

.central{
    transform: scale(1.1);
}

.central a {
    pointer-events: all;
}

.carousel-item.central:hover .game-img{
    box-shadow: 0 0 15px 1px gold;
    cursor: pointer;
    filter: blur(1px);
}

.start-btn img{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.carousel-item.central:hover .start-btn img{
    z-index:10;
    opacity: 1;
    transition: ease-in 0.3s;
    cursor: pointer;
}

.arrow{
    background-color: transparent;
}

.arrow img{
    width: 34px;
    height: 32px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.arrow:hover{
    transition: ease-in 0.2s;
    transform: scale(1.1);
    filter: drop-shadow(0 0px 8px #FFE031);
}

.game-title{
    padding-top: 4%;
    font-weight: 400px;
}