*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
	font-family: "Play", system-ui;
    color: white;
}


                                /* HEADER */

header {
    background-color: #2E3366;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: #EB00FF 1px solid;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.header-container-left {
    display: flex;
    align-items: center;
}

.header-container-left button {
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
}

.header-container-left .homeButton {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-container-left img {
    border-radius: 100%;
}

.search-container {
    display: flex;
    align-items: center;
    width: 320px;
    height: 45px;
    border: 1px solid #EB00FF;
    border-radius: 25px;
    padding: 5px 10px;
    background-color: white;
}

.search-container input {
    border: none;
    outline: none;
    flex: 1;
    padding: 5px;
    font-size: 16px;
    border-radius: 25px;
    color: black;
}

.search-container button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.search-container button img {
    width: 24px;
    height: 24px;
}

.header-container-right {
    padding-right: 20px;
    display: flex;
}

.header-container-right button {
    border: 1px solid #EB00FF;
    border-radius: 100%;
    background: none;
    cursor: pointer;
    margin-left: 20px;
    padding: 8px;
    background-color: #6B6E92;
}

.header-container-right button img {
    width: 40px;
    height: 40px;
}

.header-container-right .text-img-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 10%;
}

.text-img-btn p {
    font-size: 16px;
}

.title{
    text-shadow: #EB00FF 2px 2px 2px ;
}

                                /* NAV VERTICAL */

nav {
    background-color: #2E3366;
    position: fixed;
    display: flex;
    padding: 6px 6px;
    padding-left: 0;
    flex-direction: column;
    gap: 16px;
    z-index: 10;
    margin-top: 92.5px;
    height: 90vh;
    overflow: scroll;
    width: 50px;
    transition: all 0.3s;
}

.nav-deploy {
    width: 160px;
}

nav::-webkit-scrollbar {
    width: 3px;
}  

nav::-webkit-scrollbar-thumb {
    background-color: #EB00FF;
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0);
}
  
nav::-webkit-scrollbar-track {
    background-color: #2E3366;
    border-radius: 10px;
}

nav div {
    display: flex;
    margin: 0;
    padding: 0;
}

nav img {
    width: 36px;
    height: 36px;
    margin: 5px;
    padding-left: 11px; 
    margin-left: 0px; 
    z-index: 10;
    background-color: #2E3366;
}

.icon-name {
    align-self: center; 
    position: relative;
    left: -200px;
    margin-top: 4px;
    width: 90px;
    background-color: #2E3366;
    transition: all 0.4s ease;
}

.parr-deploy {
    left: 0;
    margin-left: 10px;
    color: white;
}



                                /* MAIN */
main{
    padding-top: 15vh;
    padding-left: 53px;
    background-color: #1C1F3E;
}

.game-categories {
    margin-left: 58px;
}

.category {
    height: fit-content;
    /* border: #EB00FF solid 1px; */
    padding: 10px;    
}

.category-name {
    margin: 10px;
    margin-top: 0px;
    padding-top: 10px;
}

.cards, #featured-cards {
    display: flex;
    height: fit-content;
    
}

.card {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: #EB00FF solid 2px;
    border-radius: 4px;
    margin: 10px;
}

.card-image {
    width: 100%;
    height: 202px;
    border-radius: 4px;
}


.card-description{
    width: 100%;
    height: fit-content;
    background-color: #2E3366;
    
}

.card-bottom-container, .ft-card-bottom-container {
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 8px;
    
}

.card-btn {
    margin-right: 5px;
    color: red;
    background-color: #2E3366;
}

.card-price, .card-name {
    margin-left: 5px;
}

.card-name {
    height: 30px;
}

                              /*FEATURED CARDS*/

                              


                                /*BOTONES*/

.button_slide {
    color: #FFF;
    border: 2px solid rgb(216, 2, 134);
    border-radius: 0px;
    padding: 5px 18px;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    transition: ease-in-out 0.5s;
    border-radius: 15px;
    /*ESTANDARIZAR HACIA COLORES Y MEDIDAS DE LA PAGINA*/
}

.slide_down:hover {
    box-shadow: inset 0 100px 0 0 #D80286;
}
  
.slide_right:hover {
    box-shadow: inset 400px 0 0 0 #D80286;
}
  
.slide_left:hover {
    box-shadow: inset 0 0 0 50px #D80286;
}
  
.slide_diagonal:hover {
    box-shadow: inset 400px 50px 0 0 #D80286;
}
  
#outer {
    width: 364px;
    margin: 50px auto 0 auto;
    text-align: center;
}

.button-game {
    padding: 4px 8px;
    margin-right: 4px;
}

                                /*FOOTER*/
								
footer {
	padding-top: 1em;
	padding-bottom: 1em;
    background-color: #2E3366;
    border: 1px solid #EB00FF;
	display: flex;
	flex-direction: column;
	line-height: 5em;
	bottom: 0;
}

.footer-container-1 {
	padding-top: 3em;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 0 4%;
}

.footer-container-1 div:nth-child(2) {
    margin-left: -5%;
}

.footer-container-2 {
	padding-top: 3em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-line {
	margin-top: 3em;
	background-color: #EB00FF;
	height: 1px;
	width: 50%;
	margin-left: 25%;
}

.footer-title {
	color: #FFF;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.footer-title ~ p {
	color: #FFF;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 27px;
}

.footer-container-img img {
	width: 48px;
	height: 48px;
	border-radius: 10px;
    margin: 22px 9px 22px 9px;
}


/* FORMS */
#loginForm::backdrop{
    background-color: #1c1f3e9c;
}


/* .form-container {
    
    background-color: #2E3366;
    display: flex;
    
}

.sideContent{
    background-color: #1C1F3E;
} */
