#loader {
    background: url(../assets/backgroundLoader3.png) no-repeat center;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 1280px;
    z-index: 999;
    transition: transform 0.5s ease, opacity 1s ease;
}

#loader.hide {
    transform: translate(0, -100%);
    border-radius: 20px;
}

.box-loader-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

#box-loader-2 {
    margin-top: 100px;
    width: 20%;
    text-align: left;
    font-size: 50px;
    font-weight: 800;
    text-shadow: 5px 3px 0px whitesmoke;
}

.signo {
    font-size: 150px;
    text-shadow: 5px 3px 0px whitesmoke;
}

.loader-img {
    height: 300px;
    min-width: 292px;
}


.load-1 {
    transform: translateY(-50%);
    opacity: 0;
    animation: aparecerLoad 0.5s ease forwards;
}


.load-2 {
    transform: translateY(-50%);
    opacity: 0;
    animation: aparecerLoad 0.5s ease forwards;
    animation-delay: 0.5s;
}

.load-3 {
    transform: translateY(-50%);
    opacity: 0;
    animation: aparecerLoad 0.5s ease forwards;
    animation-delay: 1s;
}

.load-4 {
    transform: translateY(-50%);
    opacity: 0;
    animation: aparecerLoad 0.5s ease forwards;
    animation-delay: 1.5s;
}

.load-5-question {
    margin-left: 100px;
    opacity: 0;
    animation: aparecerLoad 0.5s ease forwards 2s, desaparecerLoad 0.5s ease forwards 3.5s;
}

.load-5 {
    transform: translateY(-50%);
    opacity: 0;
    animation: aparecerLoad 0.5s ease forwards;
    animation-delay: 4s;
}

@keyframes aparecerLoad {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes desaparecerLoad {
    0% {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        display: none;
        opacity: 0;
        transform: translateY(50%);
    }
}