#pajarito {
  height: 90px;
  width: 55px;
  margin: auto;
  background: url(../assets/pajarito.png) repeat-x;
  background-size: 430px 70px;
  animation: walk .8s steps(8) infinite;
  position: absolute;
  z-index: 2;
  top: 150px;
  left: 1100px;


}


#michito {
  height: 90px;
  width: 71px;
  background: url(../assets/michito.png) repeat-x;
  background-size: 429px 70px;
  animation: walk .8s steps(6) infinite;
  position: absolute;
  z-index: 2;
  top: 450px;
  left: 170px;

}

#conejito {
  height: 90px;
  width: 20px;
  margin: auto;
  background: url(../assets/conejito.png) repeat-x;
  background-size: 360px 50px;
  animation: jump .8s steps(14) infinite;
  position: absolute;
  left: 300px;
  top: 390px;
}



@keyframes jump {
  0% {
    background-position: 0
  }
  100% {
    background-position: 350px
  }
}




@keyframes walk {
  0% {
    background-position: 0
  }
  100% {
    background-position: -430px
  }
}